<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="grain"></div>
    <header id="page-anchor">
        <div id="logo"></div>
        <div><h1>Leo Skoda</h1></div>
    </header>
    <main>
        <div class="aboutMe-container">
            <div class="aboutMe-image">
                <img src="../public/media/aboutme.png" alt="Portrait von Leo Skoda">
            </div>
            <div class="aboutMe-text">
                <p>
                    Mein Name ist Leo,

                    ich bin 22 Jahre alt und habe ein Fachabitur als Mediengestalter für Bild und Ton. 
                    Zurzeit mache ich hauptsächlich Fotos, aber in meiner Freizeit probiere ich mich auch an Videos <br>
                    <br>
                    Zudem arbeite ich auch mit CAD Software um Modelle für meinen 3D Drucker zu designen <br>
                    <br>
                    <a href="https://makerworld.com/@LeoDesigns" target="_blank">(Mein Makerworld Profil)</a>
                </p>
            </div>
        </div>
        
        <div class="timeline-container">
            <h2>Photography</h2>
            <div class="timeline-content-container">
                <div id="timeline-line">Test</div>
                <div class="timeline-media-container">
                    <% Object.keys(gallery)
                        .sort((a, b) => Number(b) - Number(a))  // 2026, 2025, 2024 ...
                        .forEach(year => { %>
        
                        <div class="timeline-year">
                        <h2><%= year %></h2>
        
                        <% for (const month in gallery[year]) { %>
                            <div class="timeline-month">
                            <h3><%= month %></h3>
                            <div class="timeline-entry-container">
        
                                <% for (const category in gallery[year][month]) { %>
                                <div class="timeline-entry">
                                    <h5><%= category %></h5>
                                    <div class="timeline-entry-contents">
                                        <% gallery[year][month][category].forEach(img => { %>
                                        <img src="/bilder/<%= year %>/<%= getMonthFolder(month) %>/<%= category %>/<%= img %>" alt="">
                                        <% }) %>
                                    </div>
                                </div>
                                <% } %>
                                <div class="timeline-entry">
                                    <h5>Warframe Clip</h5>
                                    <div class="timeline-entry-contents">
                                        <video src="../bilder/2026/12_Dezember/Warframe_1479165210148208640.mp4"></video>
                                    </div>
                                </div>                        
                            </div>
                            </div>
                        <% } %>

                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </main>
    <a id="scrollback" href="#page-anchor">^</a>
</body>
</html>